<!-- Product Details Area -->
<div class="product_image_area section-padding30">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                {% include 'products/details/_product_carousel.html.twig' %}
            </div>
            <div class="col-lg-5 offset-lg-1">
                {% include 'products/details/_product_info.html.twig' %}
            </div>
        </div>
    </div>
</div>
