<!-- Services Area -->
<div class="categories-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6"><div class="single-cat"><div class="top-img"><img src="{{ asset('assets/img/icon/services1.svg') }}" alt=""></div><div class="bottom-caption"><h5><a href="#">Free Shipping</a></h5><p>Free shipping on all order</p></div></div></div>
            <div class="col-lg-4 col-md-6"><div class="single-cat"><div class="top-img"><img src="{{ asset('assets/img/icon/services2.svg') }}" alt=""></div><div class="bottom-caption"><h5><a href="#">Online Order</a></h5><p>Free shipping on all order</p></div></div></div>
            <div class="col-lg-4 col-md-6"><div class="single-cat"><div class="top-img"><img src="{{ asset('assets/img/icon/services3.svg') }}" alt=""></div><div class="bottom-caption"><h5><a href="#">Save Money</a></h5><p>Free shipping on all order</p></div></div></div>
        </div>
    </div>
</div>
