<p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url|e('html_attr') }}">{{ url }}</a></p>
<p>Merci</p>